

<div class="navbar navbar-default navbar-inverse">
	<div class="container">
		<div class="navbar-header">			
			<a class="navbar-brand" href="#">Library</a>
		</div>
		<center>		
			<div class="navbar-collapse collapse" id="navbar-main">
				
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>				
				</ul>
				
				<login></login>

			</div>
		</center>
	</div>
</div>

<div class="container">

	<alert dismissOnTimeout="3000"> ng2 Bootstrap is working
	properly </alert>

	<router-outlet></router-outlet>

</div>